@import "tailwindcss";

@layer base {
  /* 색상 변수 정의 */
  :root {
    --background: #ffffff; /* 기본 배경 색상 */
    --title: #111111; /* 제목 색상 */
    --text: #444444; /* 본문 텍스트 색상 */
    --text-sub: #888888; /* 날짜, 푸터 등 연회색 */
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --background: #121212;
      --title: #f1f1f1;
      --text: #d0d0d0;
      --text-sub: #888888;
    }
  }

  body {
    /* 기본 배경 및 텍스트 색상 설정 */
    background-color: var(--background);
    color: var(--text);

    /* 폰트 및 부드러운 색상 전환 설정 */
    font-family: var(--font-pretendard), -apple-system, BlinkMacSystemFont,
      system-ui, Roboto, sans-serif;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  /* 제목 태그는 제목 색상 쓰도록 설정 */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--title);
  }
}

@layer components {
  /* 날짜, 푸터 */
  .text-sub {
    color: var(--text-sub);
  }
}

@layer utilities {
  .font-serif {
    font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  }
  .font-sans {
    font-family: var(--font-pretendard), -apple-system, BlinkMacSystemFont,
      system-ui, Roboto, sans-serif !important;
  }
}
